{:highlights [{:id #uuid "646e2d78-304c-4db7-8df6-989c39dc75a2",
               :page 2,
               :position {:bounding {:x1 291.8000030517578,
                                     :y1 252.4000244140625,
                                     :x2 516.8000030517578,
                                     :y2 453.4000244140625,
                                     :width 816,
                                     :height 1056},
                          :rects (),
                          :page 2},
               :content {:text "[:span]", :image 1684942199526},
               :properties {:color "yellow"}}
              {:id #uuid "646e354d-0ac1-4806-809d-9d27ca954aa5",
               :page 3,
               :position {:bounding {:x1 337.8000030517578,
                                     :y1 302.2000732421875,
                                     :x2 475.8000030517578,
                                     :y2 484.2000732421875,
                                     :width 816,
                                     :height 1056},
                          :rects (),
                          :page 3},
               :content {:text "[:span]", :image 1684944204240},
               :properties {:color "yellow"}}
              {:id #uuid "646e3a44-2f12-495c-8097-31f72d637c5f",
               :page 5,
               :position {:bounding {:x1 260.8000030517578,
                                     :y1 243.800048828125,
                                     :x2 551.8000030517578,
                                     :y2 356.800048828125,
                                     :width 816,
                                     :height 1056},
                          :rects (),
                          :page 5},
               :content {:text "[:span]", :image 1684945475543},
               :properties {:color "yellow"}}
              {:id #uuid "64833d28-9162-4db1-9f85-2f90e680328c",
               :page 4,
               :position {:bounding {:x1 287.8265686035156,
                                     :y1 301,
                                     :x2 428.78436279296875,
                                     :y2 436,
                                     :width 719.9999999999999,
                                     :height 931.7647058823528},
                          :rects (),
                          :page 4},
               :content {:text "[:span]", :image 1686322479117},
               :properties {:color "yellow"}}],
 :extra {:page 4}}
