{:highlights [{:id #uuid "6463296a-522a-474e-91b5-f2b3f50b4bf5",
               :page 7,
               :position {:bounding {:x1 29,
                                     :y1 13.199951171875,
                                     :x2 691,
                                     :y2 394.199951171875,
                                     :width 720,
                                     :height 405.00199312004537},
                          :rects (),
                          :page 7},
               :content {:text "[:span]", :image 1684220260558},
               :properties {:color "yellow"}}
              {:id #uuid "64632a86-5ed9-4a21-a210-fc4345e425d0",
               :page 34,
               :position {:bounding {:x1 375,
                                     :y1 149.6005859375,
                                     :x2 691,
                                     :y2 329.6005859375,
                                     :width 720,
                                     :height 405.00199312004537},
                          :rects (),
                          :page 34},
               :content {:text "[:span]", :image 1684220548487},
               :properties {:color "yellow"}}
              {:id #uuid "64632af3-0948-406b-b883-1d2af50a11b2",
               :page 35,
               :position {:bounding {:x1 480,
                                     :y1 93,
                                     :x2 681,
                                     :y2 384,
                                     :width 720,
                                     :height 405.00199312004537},
                          :rects (),
                          :page 35},
               :content {:text "[:span]", :image 1684220658225},
               :properties {:color "yellow"}}
              {:id #uuid "64632b62-4ad0-49f8-8a63-b89abccd0ef2",
               :page 35,
               :position {:bounding {:x1 98,
                                     :y1 191.80078125,
                                     :x2 341,
                                     :y2 239.80078125,
                                     :width 720,
                                     :height 405.00199312004537},
                          :rects (),
                          :page 35},
               :content {:text "[:span]", :image 1684220769622},
               :properties {:color "yellow"}}
              {:id #uuid "64632b72-7fb6-448f-a441-d25d9b508b78",
               :page 35,
               :position {:bounding {:x1 107,
                                     :y1 277.6005859375,
                                     :x2 330,
                                     :y2 335.6005859375,
                                     :width 720,
                                     :height 405.00199312004537},
                          :rects (),
                          :page 35},
               :content {:text "[:span]", :image 1684220785275},
               :properties {:color "yellow"}}
              {:id #uuid "64632b9a-ef30-417a-838d-7e4e7ae2deaa",
               :page 37,
               :position {:bounding {:x1 78,
                                     :y1 100.2001953125,
                                     :x2 370,
                                     :y2 252.2001953125,
                                     :width 720,
                                     :height 405.00199312004537},
                          :rects (),
                          :page 37},
               :content {:text "[:span]", :image 1684220822961},
               :properties {:color "yellow"}}
              {:id #uuid "64632bb0-bba8-4417-899d-1eff21a0bb04",
               :page 37,
               :position {:bounding {:x1 376,
                                     :y1 104.2001953125,
                                     :x2 608,
                                     :y2 259.2001953125,
                                     :width 720,
                                     :height 405.00199312004537},
                          :rects (),
                          :page 37},
               :content {:text "[:span]", :image 1684220845274},
               :properties {:color "yellow"}}],
 :extra {:page 37}}
