{:highlights [{:id #uuid "6422e82b-39c6-423f-933b-1bab177896d6",
               :page 6,
               :position {:bounding {:x1 38,
                                     :y1 14.4000244140625,
                                     :x2 670,
                                     :y2 391.4000244140625,
                                     :width 720,
                                     :height 405},
                          :rects (),
                          :page 6},
               :content {:text "[:span]", :image 1680009259541},
               :properties {:color "yellow"}}
              {:id #uuid "6422e876-bf06-40cf-a59b-34d694162589",
               :page 13,
               :position {:bounding {:x1 17,
                                     :y1 105.60009765625,
                                     :x2 686,
                                     :y2 368.60009765625,
                                     :width 720,
                                     :height 405},
                          :rects (),
                          :page 13},
               :content {:text "[:span]", :image 1680009333751},
               :properties {:color "yellow"}}
              {:id #uuid "6422e8c1-c281-472a-88f2-8acd80803291",
               :page 7,
               :position {:bounding {:x1 276.5452880859375,
                                     :y1 92.98452758789062,
                                     :x2 699.5828247070312,
                                     :y2 400.5689392089844,
                                     :width 720,
                                     :height 405},
                          :rects (),
                          :page 7},
               :content {:text "[:span]", :image 1680009432673},
               :properties {:color "yellow"}}
              {:id #uuid "6422f6a5-d4db-4b84-ada4-1624743597e3",
               :page 8,
               :position {:bounding {:x1 393,
                                     :y1 180.800048828125,
                                     :x2 644,
                                     :y2 311.800048828125,
                                     :width 720,
                                     :height 405},
                          :rects (),
                          :page 8},
               :content {:text "[:span]", :image 1680012964718},
               :properties {:color "yellow"}}
              {:id #uuid "6422f7ff-54a9-473a-92ca-61838e57e96b",
               :page 11,
               :position {:bounding {:x1 249,
                                     :y1 162.2001953125,
                                     :x2 702.9937744140625,
                                     :y2 379.15179443359375,
                                     :width 720,
                                     :height 405},
                          :rects (),
                          :page 11},
               :content {:text "[:span]", :image 1680013316339},
               :properties {:color "yellow"}}
              {:id #uuid "6422f88a-bb0b-4cc1-89d7-721690128b8f",
               :page 12,
               :position {:bounding {:x1 361.171875,
                                     :y1 177.82208251953125,
                                     :x2 711.0093994140625,
                                     :y2 313.1971435546875,
                                     :width 720,
                                     :height 405},
                          :rects (),
                          :page 12},
               :content {:text "[:span]", :image 1680013457756},
               :properties {:color "yellow"}}
              {:id #uuid "64230250-19c7-4f2f-9fc8-1c2960fa093f",
               :page 16,
               :position {:bounding {:x1 154.4140625,
                                     :y1 56.484466552734375,
                                     :x2 412.9953308105469,
                                     :y2 223.41104125976562,
                                     :width 720,
                                     :height 405},
                          :rects (),
                          :page 16},
               :content {:text "[:span]", :image 1680015960060},
               :properties {:color "yellow"}}
              {:id #uuid "6423026c-827e-43b2-a8a9-50185c7bb278",
               :page 16,
               :position {:bounding {:x1 420.1359558105469,
                                     :y1 58.895416259765625,
                                     :x2 683.7328491210938,
                                     :y2 224.07357788085938,
                                     :width 720,
                                     :height 405},
                          :rects (),
                          :page 16},
               :content {:text "[:span]", :image 1680016012041},
               :properties {:color "yellow"}}
              {:id #uuid "642302b7-b5c8-490d-9b50-a3a251e9b775",
               :page 16,
               :position {:bounding {:x1 410.0968933105469,
                                     :y1 227.95147705078125,
                                     :x2 689.9968872070312,
                                     :y2 381.39215087890625,
                                     :width 720,
                                     :height 405},
                          :rects (),
                          :page 16},
               :content {:text "[:span]", :image 1680016060607},
               :properties {:color "yellow"}}
              {:id #uuid "64230b35-a956-48b0-bcb8-ff6b79cb0e5f",
               :page 22,
               :position {:bounding {:x1 273,
                                     :y1 120.7998046875,
                                     :x2 709,
                                     :y2 324.7998046875,
                                     :width 720,
                                     :height 405},
                          :rects (),
                          :page 22},
               :content {:text "[:span]", :image 1680018229640},
               :properties {:color "yellow"}}
              {:id #uuid "64230b84-bd6e-4fc3-969c-6e08959d2981",
               :page 23,
               :position {:bounding {:x1 266,
                                     :y1 125.79864501953125,
                                     :x2 705.9968872070312,
                                     :y2 315.1970520019531,
                                     :width 720,
                                     :height 405},
                          :rects (),
                          :page 23},
               :content {:text "[:span]", :image 1680018310627},
               :properties {:color "yellow"}}
              {:id #uuid "64230ba0-d361-4e1e-8d11-c35c5ade9ffd",
               :page 26,
               :position {:bounding {:x1 259,
                                     :y1 101.400390625,
                                     :x2 649,
                                     :y2 274.400390625,
                                     :width 720,
                                     :height 405},
                          :rects (),
                          :page 26},
               :content {:text "[:span]", :image 1680018336013},
               :properties {:color "yellow"}}
              {:id #uuid "64230bbc-d085-4207-b4f2-64906fe84412",
               :page 27,
               :position {:bounding {:x1 262,
                                     :y1 108.7998046875,
                                     :x2 573,
                                     :y2 303.7998046875,
                                     :width 720,
                                     :height 405},
                          :rects (),
                          :page 27},
               :content {:text "[:span]", :image 1680018364176},
               :properties {:color "yellow"}}
              {:id #uuid "64230bcc-1bb5-416d-874f-018c87c98472",
               :page 28,
               :position {:bounding {:x1 264,
                                     :y1 112.7998046875,
                                     :x2 589,
                                     :y2 305.7998046875,
                                     :width 720,
                                     :height 405},
                          :rects (),
                          :page 28},
               :content {:text "[:span]", :image 1680018380649},
               :properties {:color "yellow"}}
              {:id #uuid "64230c55-31cc-4207-a209-c4a7fb5c37e6",
               :page 29,
               :position {:bounding {:x1 25,
                                     :y1 99.400390625,
                                     :x2 656,
                                     :y2 285.400390625,
                                     :width 720,
                                     :height 405},
                          :rects (),
                          :page 29},
               :content {:text "[:span]", :image 1680018516802},
               :properties {:color "yellow"}}
              {:id #uuid "64231da9-af95-4680-b275-a220343015f1",
               :page 46,
               :position {:bounding {:x1 248,
                                     :y1 74,
                                     :x2 399,
                                     :y2 219,
                                     :width 435,
                                     :height 244.6875},
                          :rects (),
                          :page 46},
               :content {:text "[:span]", :image 1680022953534},
               :properties {:color "yellow"}}
              {:id #uuid "64231dcf-4412-43db-9ee6-b74f227616d7",
               :page 45,
               :position {:bounding {:x1 331,
                                     :y1 133.47186279296875,
                                     :x2 646.9937744140625,
                                     :y2 297,
                                     :width 672.9999999999999,
                                     :height 378.56249999999994},
                          :rects (),
                          :page 45},
               :content {:text "[:span]", :image 1680023023532},
               :properties {:color "yellow"}}],
 :extra {:page 28}}
