{:highlights [{:id #uuid "631c6787-ec53-4fbc-b153-0c016b3ba223",
               :page 35,
               :position {:bounding {:x1 0,
                                     :y1 -2.5,
                                     :x2 558.58203125,
                                     :y2 202.8046875,
                                     :width 597.0000000000002,
                                     :height 335.8125000000001},
                          :rects ({:x1 0,
                                   :y1 -2.5,
                                   :x2 0,
                                   :y2 18.5,
                                   :width 597.0000000000002,
                                   :height 335.8125000000001}
                                  {:x1 38.421875,
                                   :y1 134.78125,
                                   :x2 558.58203125,
                                   :y2 169.78125,
                                   :width 597.0000000000002,
                                   :height 335.8125000000001}
                                  {:x1 238.328125,
                                   :y1 167.8046875,
                                   :x2 358.6677551269531,
                                   :y2 202.8046875,
                                   :width 597.0000000000002,
                                   :height 335.8125000000001}),
                          :page 35},
               :content {:text "Tie Strength and Network Structure in LargeScale Data"},
               :properties {:color "yellow"}}
              {:id #uuid "631c678d-239b-4b46-9277-c220bef960b3",
               :page 35,
               :position {:bounding {:x1 0,
                                     :y1 -2.5,
                                     :x2 558.58203125,
                                     :y2 202.8046875,
                                     :width 597.0000000000002,
                                     :height 335.8125000000001},
                          :rects ({:x1 0,
                                   :y1 -2.5,
                                   :x2 0,
                                   :y2 18.5,
                                   :width 597.0000000000002,
                                   :height 335.8125000000001}
                                  {:x1 38.421875,
                                   :y1 134.78125,
                                   :x2 558.58203125,
                                   :y2 169.78125,
                                   :width 597.0000000000002,
                                   :height 335.8125000000001}
                                  {:x1 238.328125,
                                   :y1 167.8046875,
                                   :x2 358.6677551269531,
                                   :y2 202.8046875,
                                   :width 597.0000000000002,
                                   :height 335.8125000000001}),
                          :page 35},
               :content {:text "Tie Strength and Network Structure in LargeScale Data"},
               :properties {:color "blue"}}
              {:id #uuid "631c67dc-75a0-4cb3-9f98-0b1bc0361303",
               :page 45,
               :position {:bounding {:x1 0,
                                     :y1 -2.5,
                                     :x2 536.8514404296875,
                                     :y2 208.4367218017578,
                                     :width 615,
                                     :height 345.9375},
                          :rects ({:x1 0,
                                   :y1 -2.5,
                                   :x2 0,
                                   :y2 18.5,
                                   :width 615,
                                   :height 345.9375}
                                  {:x1 78.135986328125,
                                   :y1 138.9157257080078,
                                   :x2 536.8514404296875,
                                   :y2 174.4157257080078,
                                   :width 615,
                                   :height 345.9375}
                                  {:x1 233.13082885742188,
                                   :y1 172.9367218017578,
                                   :x2 381.86480712890625,
                                   :y2 208.4367218017578,
                                   :width 615,
                                   :height 345.9375}),
                          :page 45},
               :content {:text "Tie Strength, Social Media, and Passive Engagement"},
               :properties {:color "blue"}}
              {:id #uuid "631c697b-6d83-4803-8a82-0070fcce8873",
               :page 49,
               :position {:bounding {:x1 184,
                                     :y1 6,
                                     :x2 569,
                                     :y2 413,
                                     :width 745.9999999999999,
                                     :height 419.62499999999994},
                          :rects (),
                          :page 49},
               :content {:text "[:span]", :image 1662806393092},
               :properties {:color "green"}}
              {:id #uuid "631c7975-84c1-41c4-b769-c97bc0ecf135",
               :page 51,
               :position {:bounding {:x1 201,
                                     :y1 97,
                                     :x2 569,
                                     :y2 422,
                                     :width 745.9999999999999,
                                     :height 419.62499999999994},
                          :rects (),
                          :page 51},
               :content {:text "[:span]", :image 1662810479932},
               :properties {:color "green"}}
              {:id #uuid "631c7f18-a9ea-4b7a-8d4c-d4f7c23dbf38",
               :page 55,
               :position {:bounding {:x1 49,
                                     :y1 73,
                                     :x2 483,
                                     :y2 293,
                                     :width 539,
                                     :height 303.18750000000006},
                          :rects (),
                          :page 55},
               :content {:text "[:span]", :image 1662811927570},
               :properties {:color "blue"}}
              {:id #uuid "631c8141-e83d-4a75-87c5-75ee19e353b9",
               :page 59,
               :position {:bounding {:x1 39.004520416259766,
                                     :y1 137.10862731933594,
                                     :x2 499.98715591430664,
                                     :y2 168.60862731933594,
                                     :width 539,
                                     :height 303.18750000000006},
                          :rects ({:x1 39.004520416259766,
                                   :y1 137.10862731933594,
                                   :x2 499.98715591430664,
                                   :y2 168.60862731933594,
                                   :width 539,
                                   :height 303.18750000000006}),
                          :page 59},
               :content {:text "Closure, Structural Holes, and Social Capital"},
               :properties {:color "blue"}}
              {:id #uuid "631c8405-6a32-45ae-b869-8334a14c90f6",
               :page 61,
               :position {:bounding {:x1 279,
                                     :y1 77,
                                     :x2 519,
                                     :y2 284,
                                     :width 539,
                                     :height 303.1875},
                          :rects (),
                          :page 61},
               :content {:text "[:span]", :image 1662813189611},
               :properties {:color "green"}}
              {:id #uuid "631c958e-9caf-4dac-8fbe-c750c2b676c8",
               :page 69,
               :position {:bounding {:x1 -0.0041647255420684814,
                                     :y1 -2.5,
                                     :x2 539.1409158408642,
                                     :y2 245.5096435546875,
                                     :width 539,
                                     :height 303.1875},
                          :rects ({:x1 0,
                                   :y1 -2.5,
                                   :x2 0,
                                   :y2 18.5,
                                   :width 539,
                                   :height 303.1875}
                                  {:x1 0,
                                   :y1 13.5,
                                   :x2 0,
                                   :y2 34.5,
                                   :width 539,
                                   :height 303.1875}
                                  {:x1 35.64636993408203,
                                   :y1 197.50912475585938,
                                   :x2 485.92102813720703,
                                   :y2 213.50912475585938,
                                   :width 539,
                                   :height 303.1875}
                                  {:x1 -0.0041647255420684814,
                                   :y1 213.5330810546875,
                                   :x2 539.1409158408642,
                                   :y2 229.5330810546875,
                                   :width 539,
                                   :height 303.1875}
                                  {:x1 35.641719818115234,
                                   :y1 229.5096435546875,
                                   :x2 384.4000816345215,
                                   :y2 245.5096435546875,
                                   :width 539,
                                   :height 303.1875}),
                          :page 69},
               :content {:text "“Consensus is growing in the literature that social capital stands for the ability of actors to secure benefits by virtue of membership in social networks or other social structures” (Alejandro Portes)"},
               :properties {:color "yellow"}}],
 :extra {:page 2}}
