{:highlights [{:id #uuid "631cc2cc-823d-4bad-a443-dabd3605eab5",
               :page 26,
               :position {:bounding {:x1 279,
                                     :y1 106.5,
                                     :x2 526,
                                     :y2 261.5,
                                     :width 547,
                                     :height 307.6875},
                          :rects (),
                          :page 26},
               :content {:text "[:span]", :image 1662829258705},
               :properties {:color "red"}}
              {:id #uuid "631cc3ec-71ba-40b5-b8df-2fd1ddbd284c",
               :page 29,
               :position {:bounding {:x1 62,
                                     :y1 85.5,
                                     :x2 496,
                                     :y2 305.5,
                                     :width 547,
                                     :height 307.6875},
                          :rects (),
                          :page 29},
               :content {:text "[:span]", :image 1662829547423},
               :properties {:color "red"}}
              {:id #uuid "6463296a-522a-474e-91b5-f2b3f50b4bf5",
               :page 7,
               :position {:bounding {:x1 77.13125228881836,
                                     :y1 102.89059448242188,
                                     :x2 641.871898651123,
                                     :y2 374.4843444824219,
                                     :width 720,
                                     :height 405.00199312004537},
                          :rects (),
                          :page 7},
               :content {:text "[:span]", :image 1684221172912},
               :properties {:color "yellow"}}
              {:id #uuid "64632a86-5ed9-4a21-a210-fc4345e425d0",
               :page 34,
               :position {:bounding {:x1 375,
                                     :y1 149.6005859375,
                                     :x2 691,
                                     :y2 329.6005859375,
                                     :width 720,
                                     :height 405.00199312004537},
                          :rects (),
                          :page 34},
               :content {:text "[:span]", :image 1684220548487},
               :properties {:color "yellow"}}
              {:id #uuid "64632af3-0948-406b-b883-1d2af50a11b2",
               :page 35,
               :position {:bounding {:x1 480,
                                     :y1 93,
                                     :x2 681,
                                     :y2 384,
                                     :width 720,
                                     :height 405.00199312004537},
                          :rects (),
                          :page 35},
               :content {:text "[:span]", :image 1684220658225},
               :properties {:color "yellow"}}
              {:id #uuid "64632b62-4ad0-49f8-8a63-b89abccd0ef2",
               :page 35,
               :position {:bounding {:x1 93.15225999620226,
                                     :y1 176.08377278645835,
                                     :x2 309.41475694444443,
                                     :y2 222.9540730794271,
                                     :width 661,
                                     :height 371.8143297949306},
                          :rects (),
                          :page 35},
               :content {:text "[:span]", :image 1684222863808},
               :properties {:color "yellow"}}
              {:id #uuid "64632b72-7fb6-448f-a441-d25d9b508b78",
               :page 35,
               :position {:bounding {:x1 107,
                                     :y1 277.6005859375,
                                     :x2 330,
                                     :y2 335.6005859375,
                                     :width 720,
                                     :height 405.00199312004537},
                          :rects (),
                          :page 35},
               :content {:text "[:span]", :image 1684220785275},
               :properties {:color "yellow"}}
              {:id #uuid "64632b9a-ef30-417a-838d-7e4e7ae2deaa",
               :page 37,
               :position {:bounding {:x1 66.73333333333333,
                                     :y1 85.7268337673611,
                                     :x2 302.65520833333335,
                                     :y2 215.7580837673611,
                                     :width 616,
                                     :height 346.50170522492766},
                          :rects (),
                          :page 37},
               :content {:text "[:span]", :image 1684487879068},
               :properties {:color "yellow"}}
              {:id #uuid "64632bb0-bba8-4417-899d-1eff21a0bb04",
               :page 37,
               :position {:bounding {:x1 376,
                                     :y1 104.2001953125,
                                     :x2 609.953125,
                                     :y2 250.80645751953125,
                                     :width 720,
                                     :height 405.00199312004537},
                          :rects (),
                          :page 37},
               :content {:text "[:span]", :image 1684220854248},
               :properties {:color "yellow"}}
              {:id #uuid "64632bd6-9e4d-4f70-ab77-0e923ffcfb59",
               :page 37,
               :position {:bounding {:x1 259.359375,
                                     :y1 256.2001953125,
                                     :x2 515.0343933105469,
                                     :y2 393.19708251953125,
                                     :width 720,
                                     :height 405.00199312004537},
                          :rects (),
                          :page 37},
               :content {:text "[:span]", :image 1684220891080},
               :properties {:color "yellow"}}
              {:id #uuid "646a3432-dfac-4ddb-982c-a31c6cd722a2",
               :page 17,
               :position {:bounding {:x1 84,
                                     :y1 66.800048828125,
                                     :x2 265,
                                     :y2 115.800048828125,
                                     :width 357,
                                     :height 200.81348825535585},
                          :rects (),
                          :page 17},
               :content {:text "[:span]", :image 1684681775898},
               :properties {:color "red"}}
              {:id #uuid "646a4b41-df43-45f0-905e-5f07627229a8",
               :page 14,
               :position {:bounding {:x1 176,
                                     :y1 207.34051513671875,
                                     :x2 572,
                                     :y2 286.39990234375,
                                     :width 720,
                                     :height 405.00199312004537},
                          :rects (),
                          :page 14},
               :content {:text "[:span]", :image 1684687684384},
               :properties {:color "red"}}],
 :extra {:page 16}}
