{:highlights [{:id #uuid "6461509d-f72e-4f72-a403-19eb82ccf158",
               :page 21,
               :position {:bounding {:x1 213,
                                     :y1 94.80029296875,
                                     :x2 504,
                                     :y2 287.80029296875,
                                     :width 717.9999999999999,
                                     :height 403.87499999999994},
                          :rects (),
                          :page 21},
               :content {:text "[:span]", :image 1684099229355},
               :properties {:color "yellow"}}
              {:id #uuid "64616502-469d-427b-8963-bf47402024a1",
               :page 26,
               :position {:bounding {:x1 122,
                                     :y1 71.80029296875,
                                     :x2 402,
                                     :y2 250.80029296875,
                                     :width 520,
                                     :height 292.5},
                          :rects (),
                          :page 26},
               :content {:text "[:span]", :image 1684104449903},
               :properties {:color "yellow"}}
              {:id #uuid "646167c9-6be2-463c-bd2a-93aef604a2b8",
               :page 33,
               :position {:bounding {:x1 250,
                                     :y1 29.7998046875,
                                     :x2 499,
                                     :y2 235.7998046875,
                                     :width 520,
                                     :height 292.5},
                          :rects (),
                          :page 33},
               :content {:text "[:span]", :image 1684105161570},
               :properties {:color "yellow"}}
              {:id #uuid "6461685e-61a0-4ca8-8e40-60cdefd48def",
               :page 36,
               :position {:bounding {:x1 100.94062805175781,
                                     :y1 27.534378051757812,
                                     :x2 419.0205841064453,
                                     :y2 58.13438415527344,
                                     :width 520,
                                     :height 292.5},
                          :rects ({:x1 100.94062805175781,
                                   :y1 27.534378051757812,
                                   :x2 419.0205841064453,
                                   :y2 58.13438415527344,
                                   :width 520,
                                   :height 292.5}),
                          :page 36},
               :content {:text "Computing edges' betweenness"},
               :properties {:color "yellow"}}],
 :extra {:page 54}}
