{:highlights [{:id #uuid "647b02e2-097e-494f-a080-38766a1bfd8a",
               :page 26,
               :position {:bounding {:x1 277.3421936035156,
                                     :y1 61.976959228515625,
                                     :x2 450.2265625,
                                     :y2 235.400390625,
                                     :width 490.00000000000006,
                                     :height 275.62500000000006},
                          :rects (),
                          :page 26},
               :content {:text "[:span]", :image 1685783270617},
               :properties {:color "yellow"}}
              {:id #uuid "647b05ec-3199-41c1-a38d-9deed6ff9c3f",
               :page 29,
               :position {:bounding {:x1 25.228126525878906,
                                     :y1 25.800018310546875,
                                     :x2 464.7297134399414,
                                     :y2 54.600006103515625,
                                     :width 490.00000000000006,
                                     :height 275.62500000000006},
                          :rects ({:x1 25.228126525878906,
                                   :y1 25.800018310546875,
                                   :x2 464.7297134399414,
                                   :y2 54.600006103515625,
                                   :width 490.00000000000006,
                                   :height 275.62500000000006}),
                          :page 29},
               :content {:text "The random version of the configuration model"},
               :properties {:color "yellow"}}
              {:id #uuid "647b0bde-4d0f-4f97-9ad4-ef60f9c15923",
               :page 28,
               :position {:bounding {:x1 147,
                                     :y1 150.60009765625,
                                     :x2 325.99688720703125,
                                     :y2 262.7626037597656,
                                     :width 490.00000000000006,
                                     :height 275.62500000000006},
                          :rects (),
                          :page 28},
               :content {:text "[:span]", :image 1685785579463},
               :properties {:color "yellow"}}
              {:id #uuid "647b10c5-48a7-4334-a47e-17866b9d61db",
               :page 33,
               :position {:bounding {:x1 125.32499694824219,
                                     :y1 102.400390625,
                                     :x2 366.4125061035156,
                                     :y2 207.400390625,
                                     :width 490.00000000000006,
                                     :height 275.62500000000006},
                          :rects (),
                          :page 33},
               :content {:text "[:span]", :image 1685786836923},
               :properties {:color "yellow"}}
              {:id #uuid "647c3a24-8214-41bc-9830-856b45720509",
               :page 34,
               :position {:bounding {:x1 118,
                                     :y1 168.80078125,
                                     :x2 601,
                                     :y2 324.80078125,
                                     :width 720,
                                     :height 405},
                          :rects (),
                          :page 34},
               :content {:text "[:span]", :image 1685862946320},
               :properties {:color "yellow"}}],
 :extra {:page 33}}
