{:highlights [{:id #uuid "6484bca2-ded3-4ea8-bc2b-3d42bd4b82fa",
               :page 16,
               :position {:bounding {:x1 209.96875,
                                     :y1 4,
                                     :x2 476.99688720703125,
                                     :y2 388.0000305175781,
                                     :width 691,
                                     :height 388.68749999999994},
                          :rects (),
                          :page 16},
               :content {:text "[:span]", :image 1686420647119},
               :properties {:color "yellow"}}
              {:id #uuid "6484c4d7-b991-4c3e-a474-a42124f1f47a",
               :page 26,
               :position {:bounding {:x1 23.48437651991844,
                                     :y1 13.949981689453125,
                                     :x2 81.50812682509422,
                                     :y2 38.54998779296875,
                                     :width 691,
                                     :height 388.68749999999994},
                          :rects ({:x1 23.48437651991844,
                                   :y1 13.949981689453125,
                                   :x2 81.50812682509422,
                                   :y2 38.54998779296875,
                                   :width 691,
                                   :height 388.68749999999994}),
                          :page 26},
               :content {:text "μ = 1 "},
               :properties {:color "yellow"}}],
 :extra {:page 26}}
