{:highlights [{:id #uuid "64e21774-6ecf-494e-baf5-a5a89b8a1d2c",
               :page 42,
               :position {:bounding {:x1 225.19688415527344,
                                     :y1 38.4468994140625,
                                     :x2 494.8011932373047,
                                     :y2 80.4468994140625,
                                     :width 720,
                                     :height 405},
                          :rects ({:x1 225.19688415527344,
                                   :y1 38.4468994140625,
                                   :x2 494.8011932373047,
                                   :y2 80.4468994140625,
                                   :width 720,
                                   :height 405}),
                          :page 42},
               :content {:text "Epidemic threshold"},
               :properties {:color "yellow"}}],
 :extra {:page 31}}
