{:highlights [{:id #uuid "647f3c89-521a-475f-830c-2a298f419189",
               :page 17,
               :position {:bounding {:x1 215,
                                     :y1 138.2001953125,
                                     :x2 508,
                                     :y2 331.2001953125,
                                     :width 720,
                                     :height 405},
                          :rects (),
                          :page 17},
               :content {:text "[:span]", :image 1686060166717},
               :properties {:color "yellow"}}
              {:id #uuid "647f3cac-50eb-4078-8b70-04dc8b08c7dc",
               :page 18,
               :position {:bounding {:x1 221,
                                     :y1 130.60009765625,
                                     :x2 496,
                                     :y2 307.60009765625,
                                     :width 720,
                                     :height 405},
                          :rects (),
                          :page 18},
               :content {:text "[:span]", :image 1686060203338},
               :properties {:color "yellow"}}
              {:id #uuid "647f3d6c-ebfe-4878-943d-26ebc3d2303e",
               :page 21,
               :position {:bounding {:x1 212,
                                     :y1 136,
                                     :x2 505,
                                     :y2 326,
                                     :width 720,
                                     :height 405},
                          :rects (),
                          :page 21},
               :content {:text "[:span]", :image 1686060393230},
               :properties {:color "yellow"}}
              {:id #uuid "647f3dbe-9bf2-4ece-b5f9-a46f15a3e096",
               :page 22,
               :position {:bounding {:x1 220,
                                     :y1 131.2001953125,
                                     :x2 501,
                                     :y2 306.2001953125,
                                     :width 720,
                                     :height 405},
                          :rects (),
                          :page 22},
               :content {:text "[:span]", :image 1686060477311},
               :properties {:color "yellow"}}
              {:id #uuid "647f5020-f73c-49a6-ab9b-ffe2e13466bb",
               :page 25,
               :position {:bounding {:x1 393.2129821777344,
                                     :y1 38.446868896484375,
                                     :x2 542.2420654296875,
                                     :y2 80.44686889648438,
                                     :width 720,
                                     :height 405},
                          :rects ({:x1 393.2129821777344,
                                   :y1 38.446868896484375,
                                   :x2 542.2420654296875,
                                   :y2 80.44686889648438,
                                   :width 720,
                                   :height 405}),
                          :page 25},
               :content {:text "modularity"},
               :properties {:color "yellow"}}],
 :extra {:page 24}}
