{:highlights [{:id #uuid "64688eb2-6a49-4f47-9016-4ec65ea20560",
               :page 410,
               :position {:bounding {:x1 49.51875305175781,
                                     :y1 199.09687799215317,
                                     :x2 159.7963104248047,
                                     :y2 221.29689019918442,
                                     :width 723.93072,
                                     :height 888.4839866666666},
                          :rects ({:x1 49.51875305175781,
                                   :y1 199.09687799215317,
                                   :x2 159.7963104248047,
                                   :y2 221.29689019918442,
                                   :width 723.93072,
                                   :height 888.4839866666666}
                                  {:x1 64.0406265258789,
                                   :y1 203.8687590956688,
                                   :x2 135.4875030517578,
                                   :y2 219.1687621474266,
                                   :width 723.93072,
                                   :height 888.4839866666666}),
                          :page 410},
               :content {:text "C HAPTER 12"},
               :properties {:color "yellow"}}
              {:id #uuid "64688f73-7e43-4586-be1a-2d62e5c79be1",
               :page 410,
               :position {:bounding {:x1 49.04063034057617,
                                     :y1 373.959381043911,
                                     :x2 68.92499923706055,
                                     :y2 415.3594054579735,
                                     :width 723.93072,
                                     :height 888.4839866666666},
                          :rects ({:x1 49.04063034057617,
                                   :y1 373.959381043911,
                                   :x2 68.92499923706055,
                                   :y2 415.3594054579735,
                                   :width 723.93072,
                                   :height 888.4839866666666}),
                          :page 410},
               :content {:text "S"},
               :properties {:color "yellow"}}
              {:id #uuid "6468a99e-a984-462c-a747-3d5e2fd3f54c",
               :page 236,
               :position {:bounding {:x1 205.59149551391602,
                                     :y1 448.7062683105469,
                                     :x2 320.58000564575195,
                                     :y2 467.3062438964844,
                                     :width 868.7168639999999,
                                     :height 1066.180784},
                          :rects ({:x1 205.59149551391602,
                                   :y1 448.7062683105469,
                                   :x2 320.58000564575195,
                                   :y2 467.3062438964844,
                                   :width 868.7168639999999,
                                   :height 1066.180784}),
                          :page 236},
               :content {:text "Kronecker delta"},
               :properties {:color "yellow"}}
              {:id #uuid "6468aa5d-6b95-47aa-b2cf-68d6a45cc1e7",
               :page 236,
               :position {:bounding {:x1 568.6687507629395,
                                     :y1 394.921875,
                                     :x2 607.1641120910645,
                                     :y2 413.52191162109375,
                                     :width 868.7168639999999,
                                     :height 1066.180784},
                          :rects ({:x1 568.6687507629395,
                                   :y1 394.921875,
                                   :x2 607.1641120910645,
                                   :y2 413.52191162109375,
                                   :width 868.7168639999999,
                                   :height 1066.180784}),
                          :page 236},
               :content {:text "(7.66)"},
               :properties {:color "yellow"}}],
 :extra {:page 242}}
