{:highlights [{:id #uuid "64673b5d-2df8-4eae-9565-5b2a7cb6250a",
               :page 61,
               :position {:bounding {:x1 261.49688720703125,
                                     :y1 75.47812806069851,
                                     :x2 350.1478271484375,
                                     :y2 92.27813111245632,
                                     :width 616,
                                     :height 1026.6666666666667},
                          :rects ({:x1 261.49688720703125,
                                   :y1 75.47812806069851,
                                   :x2 350.1478271484375,
                                   :y2 92.27813111245632,
                                   :width 616,
                                   :height 1026.6666666666667}),
                          :page 61},
               :content {:text "CHAPTER 3"},
               :properties {:color "yellow"}}],
 :extra {:page 66}}
