{:highlights [{:id #uuid "64688eb2-6a49-4f47-9016-4ec65ea20560",
               :page 410,
               :position {:bounding {:x1 49.51875305175781,
                                     :y1 199.09687799215317,
                                     :x2 159.7963104248047,
                                     :y2 221.29689019918442,
                                     :width 723.93072,
                                     :height 888.4839866666666},
                          :rects ({:x1 49.51875305175781,
                                   :y1 199.09687799215317,
                                   :x2 159.7963104248047,
                                   :y2 221.29689019918442,
                                   :width 723.93072,
                                   :height 888.4839866666666}
                                  {:x1 64.0406265258789,
                                   :y1 203.8687590956688,
                                   :x2 135.4875030517578,
                                   :y2 219.1687621474266,
                                   :width 723.93072,
                                   :height 888.4839866666666}),
                          :page 410},
               :content {:text "C HAPTER 12"},
               :properties {:color "yellow"}}],
 :extra {:page 410}}
