{:highlights [{:id #uuid "6421e059-3b22-4fe3-8e19-d52dbf92528b",
               :page 34,
               :position {:bounding {:x1 0,
                                     :y1 0,
                                     :x2 720,
                                     :y2 1877.981201171875,
                                     :width 720.0000726060183,
                                     :height 934.3880253852153},
                          :rects ({:x1 0,
                                   :y1 0,
                                   :x2 720,
                                   :y2 0,
                                   :width 720.0000726060183,
                                   :height 934.3880253852153}
                                  {:x1 0,
                                   :y1 943.987548828125,
                                   :x2 720,
                                   :y2 1877.981201171875,
                                   :width 720.0000726060183,
                                   :height 934.3880253852153}),
                          :page 34},
               :content {:text nil},
               :properties {:color "yellow"}}
              {:id #uuid "6422a592-420a-4a82-9462-a10c2c5aa892",
               :page 24,
               :position {:bounding {:x1 0,
                                     :y1 0,
                                     :x2 720,
                                     :y2 1877.9813842773438,
                                     :width 720.0000726060183,
                                     :height 934.3880253852153},
                          :rects ({:x1 0,
                                   :y1 0,
                                   :x2 720,
                                   :y2 0,
                                   :width 720.0000726060183,
                                   :height 934.3880253852153}
                                  {:x1 0,
                                   :y1 943.9876098632812,
                                   :x2 720,
                                   :y2 1877.9813842773438,
                                   :width 720.0000726060183,
                                   :height 934.3880253852153}),
                          :page 24},
               :content {:text nil},
               :properties {:color "yellow"}}
              {:id #uuid "6422a594-9aa9-4ceb-8284-7a52c1620019",
               :page 25,
               :position {:bounding {:x1 0,
                                     :y1 0,
                                     :x2 720,
                                     :y2 1877.9813232421875,
                                     :width 720.0000726060183,
                                     :height 934.3880253852153},
                          :rects ({:x1 0,
                                   :y1 0,
                                   :x2 720,
                                   :y2 0,
                                   :width 720.0000726060183,
                                   :height 934.3880253852153}
                                  {:x1 0,
                                   :y1 943.9874267578125,
                                   :x2 720,
                                   :y2 1877.9813232421875,
                                   :width 720.0000726060183,
                                   :height 934.3880253852153}),
                          :page 25},
               :content {:text nil},
               :properties {:color "yellow"}}
              {:id #uuid "64672a61-bb06-4f44-ab20-1b9f4dc7b83d",
               :page 33,
               :position {:bounding {:x1 308.15625,
                                     :y1 132.421875,
                                     :x2 464.78271484375,
                                     :y2 155.82186889648438,
                                     :width 720.0000726060183,
                                     :height 934.3880253852153},
                          :rects ({:x1 308.15625,
                                   :y1 132.421875,
                                   :x2 464.78271484375,
                                   :y2 155.82186889648438,
                                   :width 720.0000726060183,
                                   :height 934.3880253852153}),
                          :page 33},
               :content {:text "Nay eee (ucie"},
               :properties {:color "yellow"}}
              {:id #uuid "64672afd-0fbd-499d-9a14-2a2c062919d3",
               :page 54,
               :position {:bounding {:x1 0,
                                     :y1 -1.800018310546875,
                                     :x2 571.9031982421875,
                                     :y2 249.89059448242188,
                                     :width 675.9999999999999,
                                     :height 877.286446477958},
                          :rects ({:x1 0,
                                   :y1 -1.800018310546875,
                                   :x2 0,
                                   :y2 17.399993896484375,
                                   :width 675.9999999999999,
                                   :height 877.286446477958}
                                  {:x1 184.06875610351562,
                                   :y1 223.16250610351562,
                                   :x2 571.9031982421875,
                                   :y2 235.16250610351562,
                                   :width 675.9999999999999,
                                   :height 877.286446477958}
                                  {:x1 184.06875610351562,
                                   :y1 237.89059448242188,
                                   :x2 258.6716003417969,
                                   :y2 249.89059448242188,
                                   :width 675.9999999999999,
                                   :height 877.286446477958}),
                          :page 54},
               :content {:text "path: (n.) a sequence of arcs in a network that can be traced continuously without retracing any arc."},
               :properties {:color "yellow"}}],
 :extra {:page 56}}
