{:highlights [{:id #uuid "6421e059-3b22-4fe3-8e19-d52dbf92528b",
               :page 34,
               :position {:bounding {:x1 0,
                                     :y1 0,
                                     :x2 720,
                                     :y2 1877.981201171875,
                                     :width 720.0000726060183,
                                     :height 934.3880253852153},
                          :rects ({:x1 0,
                                   :y1 0,
                                   :x2 720,
                                   :y2 0,
                                   :width 720.0000726060183,
                                   :height 934.3880253852153}
                                  {:x1 0,
                                   :y1 943.987548828125,
                                   :x2 720,
                                   :y2 1877.981201171875,
                                   :width 720.0000726060183,
                                   :height 934.3880253852153}),
                          :page 34},
               :content {:text nil},
               :properties {:color "yellow"}}
              {:id #uuid "6422a592-420a-4a82-9462-a10c2c5aa892",
               :page 24,
               :position {:bounding {:x1 0,
                                     :y1 0,
                                     :x2 720,
                                     :y2 1877.9813842773438,
                                     :width 720.0000726060183,
                                     :height 934.3880253852153},
                          :rects ({:x1 0,
                                   :y1 0,
                                   :x2 720,
                                   :y2 0,
                                   :width 720.0000726060183,
                                   :height 934.3880253852153}
                                  {:x1 0,
                                   :y1 943.9876098632812,
                                   :x2 720,
                                   :y2 1877.9813842773438,
                                   :width 720.0000726060183,
                                   :height 934.3880253852153}),
                          :page 24},
               :content {:text nil},
               :properties {:color "yellow"}}
              {:id #uuid "6422a594-9aa9-4ceb-8284-7a52c1620019",
               :page 25,
               :position {:bounding {:x1 0,
                                     :y1 0,
                                     :x2 720,
                                     :y2 1877.9813232421875,
                                     :width 720.0000726060183,
                                     :height 934.3880253852153},
                          :rects ({:x1 0,
                                   :y1 0,
                                   :x2 720,
                                   :y2 0,
                                   :width 720.0000726060183,
                                   :height 934.3880253852153}
                                  {:x1 0,
                                   :y1 943.9874267578125,
                                   :x2 720,
                                   :y2 1877.9813232421875,
                                   :width 720.0000726060183,
                                   :height 934.3880253852153}),
                          :page 25},
               :content {:text nil},
               :properties {:color "yellow"}}
              {:id #uuid "64672a61-bb06-4f44-ab20-1b9f4dc7b83d",
               :page 33,
               :position {:bounding {:x1 308.15625,
                                     :y1 132.421875,
                                     :x2 464.78271484375,
                                     :y2 155.82186889648438,
                                     :width 720.0000726060183,
                                     :height 934.3880253852153},
                          :rects ({:x1 308.15625,
                                   :y1 132.421875,
                                   :x2 464.78271484375,
                                   :y2 155.82186889648438,
                                   :width 720.0000726060183,
                                   :height 934.3880253852153}),
                          :page 33},
               :content {:text "Nay eee (ucie"},
               :properties {:color "yellow"}}
              {:id #uuid "64672afd-0fbd-499d-9a14-2a2c062919d3",
               :page 54,
               :position {:bounding {:x1 0,
                                     :y1 -1.800018310546875,
                                     :x2 571.9031982421875,
                                     :y2 249.89059448242188,
                                     :width 675.9999999999999,
                                     :height 877.286446477958},
                          :rects ({:x1 0,
                                   :y1 -1.800018310546875,
                                   :x2 0,
                                   :y2 17.399993896484375,
                                   :width 675.9999999999999,
                                   :height 877.286446477958}
                                  {:x1 184.06875610351562,
                                   :y1 223.16250610351562,
                                   :x2 571.9031982421875,
                                   :y2 235.16250610351562,
                                   :width 675.9999999999999,
                                   :height 877.286446477958}
                                  {:x1 184.06875610351562,
                                   :y1 237.89059448242188,
                                   :x2 258.6716003417969,
                                   :y2 249.89059448242188,
                                   :width 675.9999999999999,
                                   :height 877.286446477958}),
                          :page 54},
               :content {:text "path: (n.) a sequence of arcs in a network that can be traced continuously without retracing any arc."},
               :properties {:color "yellow"}}
              {:id #uuid "64688dce-786d-4483-96aa-0f7794277d6c",
               :page 138,
               :position {:bounding {:x1 181.18126219511032,
                                     :y1 71.8781310915947,
                                     :x2 258.4687377810478,
                                     :y2 85.67812651395798,
                                     :width 394,
                                     :height 511.31784010697555},
                          :rects ({:x1 181.18126219511032,
                                   :y1 71.8781310915947,
                                   :x2 258.4687377810478,
                                   :y2 85.67812651395798,
                                   :width 394,
                                   :height 511.31784010697555}),
                          :page 138},
               :content {:text "NA @iCreCsy"},
               :properties {:color "yellow"}}
              {:id #uuid "64688e49-92e6-499c-99fd-911bb70b2729",
               :page 190,
               :position {:bounding {:x1 222.3937530517578,
                                     :y1 182.60623168945312,
                                     :x2 346.62078857421875,
                                     :y2 195.80624389648438,
                                     :width 510.00000000000006,
                                     :height 661.8581179049684},
                          :rects ({:x1 222.3937530517578,
                                   :y1 182.60623168945312,
                                   :x2 346.62078857421875,
                                   :y2 195.80624389648438,
                                   :width 510.00000000000006,
                                   :height 661.8581179049684}),
                          :page 190},
               :content {:text "6.3.4 Stochastic Block Modeling"},
               :properties {:color "yellow"}}
              {:id #uuid "646c7fc0-5655-45df-8a7c-88c4049ad668",
               :page 56,
               :position {:bounding {:x1 165,
                                     :y1 78.6015625,
                                     :x2 388,
                                     :y2 310.6015625,
                                     :width 720.0000726060183,
                                     :height 934.3880253852153},
                          :rects (),
                          :page 56},
               :content {:text "[:span]", :image 1684832191073},
               :properties {:color "yellow"}}
              {:id #uuid "646c7fdb-ab7c-49bb-8f8d-26817dd43eb6",
               :page 56,
               :position {:bounding {:x1 406.0921936035156,
                                     :y1 77.60156250000001,
                                     :x2 652.1296691894531,
                                     :y2 312.4359436035156,
                                     :width 720.0000726060183,
                                     :height 934.3880253852153},
                          :rects (),
                          :page 56},
               :content {:text "[:span]", :image 1684832245455},
               :properties {:color "yellow"}}
              {:id #uuid "646e5059-6e19-49ef-8012-3a7ed60bdf94",
               :page 140,
               :position {:bounding {:x1 0,
                                     :y1 14.203125,
                                     :x2 613.4518310502172,
                                     :y2 139.9312744140625,
                                     :width 687.0000000000001,
                                     :height 891.5618176484575},
                          :rects ({:x1 0,
                                   :y1 14.203125,
                                   :x2 0,
                                   :y2 33.40313720703125,
                                   :width 687.0000000000001,
                                   :height 891.5618176484575}
                                  {:x1 0,
                                   :y1 30.20623779296875,
                                   :x2 0,
                                   :y2 49.40625,
                                   :width 687.0000000000001,
                                   :height 891.5618176484575}
                                  {:x1 169.6031372025609,
                                   :y1 92.32501220703125,
                                   :x2 611.6103393509984,
                                   :y2 106.125,
                                   :width 687.0000000000001,
                                   :height 891.5618176484575}
                                  {:x1 157.1343872025609,
                                   :y1 109.2281494140625,
                                   :x2 613.4518310502172,
                                   :y2 123.02813720703125,
                                   :width 687.0000000000001,
                                   :height 891.5618176484575}
                                  {:x1 157.1343872025609,
                                   :y1 126.1312255859375,
                                   :x2 187.79631347209215,
                                   :y2 139.9312744140625,
                                   :width 687.0000000000001,
                                   :height 891.5618176484575}),
                          :page 140},
               :content {:text "The main difference between the two formulations is that in the version by Erd6s and Rényi the number of links of the network is fixed, whereas in the model by Gilbert it is vari"},
               :properties {:color "yellow"}}],
 :extra {:page 140}}
