{:highlights [{:id #uuid "64673b5d-2df8-4eae-9565-5b2a7cb6250a",
               :page 61,
               :position {:bounding {:x1 261.49688720703125,
                                     :y1 75.47812806069851,
                                     :x2 350.1478271484375,
                                     :y2 92.27813111245632,
                                     :width 616,
                                     :height 1026.6666666666667},
                          :rects ({:x1 261.49688720703125,
                                   :y1 75.47812806069851,
                                   :x2 350.1478271484375,
                                   :y2 92.27813111245632,
                                   :width 616,
                                   :height 1026.6666666666667}),
                          :page 61},
               :content {:text "CHAPTER 3"},
               :properties {:color "yellow"}}
              {:id #uuid "64673c06-91c0-4205-b32c-15fbcc9061dd",
               :page 95,
               :position {:bounding {:x1 261.49688720703125,
                                     :y1 75.4781265258789,
                                     :x2 350.1478271484375,
                                     :y2 92.27812957763672,
                                     :width 616,
                                     :height 1026.6666666666667},
                          :rects ({:x1 261.49688720703125,
                                   :y1 75.4781265258789,
                                   :x2 350.1478271484375,
                                   :y2 92.27812957763672,
                                   :width 616,
                                   :height 1026.6666666666667}),
                          :page 95},
               :content {:text "CHAPTER 4"},
               :properties {:color "yellow"}}
              {:id #uuid "64687706-4ac5-4411-bced-67f67e2c340d",
               :page 98,
               :position {:bounding {:x1 0,
                                     :y1 222.2437515258789,
                                     :x2 660.1183128356934,
                                     :y2 873.8812561035156,
                                     :width 719.9999999999999,
                                     :height 1200},
                          :rects ({:x1 0,
                                   :y1 222.2437515258789,
                                   :x2 0,
                                   :y2 241.4437484741211,
                                   :width 719.9999999999999,
                                   :height 1200}
                                  {:x1 0,
                                   :y1 238.24687957763672,
                                   :x2 0,
                                   :y2 257.4468765258789,
                                   :width 719.9999999999999,
                                   :height 1200}
                                  {:x1 0,
                                   :y1 254.25,
                                   :x2 0,
                                   :y2 273.4500045776367,
                                   :width 719.9999999999999,
                                   :height 1200}
                                  {:x1 0,
                                   :y1 270.2531280517578,
                                   :x2 0,
                                   :y2 289.45312881469727,
                                   :width 719.9999999999999,
                                   :height 1200}
                                  {:x1 0,
                                   :y1 286.25625228881836,
                                   :x2 0,
                                   :y2 305.4562530517578,
                                   :width 719.9999999999999,
                                   :height 1200}
                                  {:x1 0,
                                   :y1 302.2593803405762,
                                   :x2 0,
                                   :y2 321.459379196167,
                                   :width 719.9999999999999,
                                   :height 1200}
                                  {:x1 0,
                                   :y1 318.2625045776367,
                                   :x2 0,
                                   :y2 337.4625053405762,
                                   :width 719.9999999999999,
                                   :height 1200}
                                  {:x1 0,
                                   :y1 334.2656307220459,
                                   :x2 0,
                                   :y2 353.46563148498535,
                                   :width 719.9999999999999,
                                   :height 1200}
                                  {:x1 0,
                                   :y1 350.26875615119934,
                                   :x2 0,
                                   :y2 369.4687569141388,
                                   :width 719.9999999999999,
                                   :height 1200}
                                  {:x1 125.86311721801758,
                                   :y1 644.5781555175781,
                                   :x2 660.070484161377,
                                   :y2 664.3781433105469,
                                   :width 719.9999999999999,
                                   :height 1200}
                                  {:x1 62.325002670288086,
                                   :y1 666.1593933105469,
                                   :x2 660.1001930236816,
                                   :y2 685.9593811035156,
                                   :width 719.9999999999999,
                                   :height 1200}
                                  {:x1 62.34375190734863,
                                   :y1 687.7500305175781,
                                   :x2 660.073413848877,
                                   :y2 707.5500183105469,
                                   :width 719.9999999999999,
                                   :height 1200}
                                  {:x1 62.325002670288086,
                                   :y1 709.3312683105469,
                                   :x2 660.0839729309082,
                                   :y2 729.1312561035156,
                                   :width 719.9999999999999,
                                   :height 1200}
                                  {:x1 432.9843940734863,
                                   :y1 728.6625061035156,
                                   :x2 439.1668281555176,
                                   :y2 742.4625244140625,
                                   :width 719.9999999999999,
                                   :height 1200}
                                  {:x1 62.325002670288086,
                                   :y1 730.9125061035156,
                                   :x2 660.114429473877,
                                   :y2 750.7125244140625,
                                   :width 719.9999999999999,
                                   :height 1200}
                                  {:x1 62.33437728881836,
                                   :y1 752.5125122070312,
                                   :x2 660.0313377380371,
                                   :y2 772.3125305175781,
                                   :width 719.9999999999999,
                                   :height 1200}
                                  {:x1 62.33437728881836,
                                   :y1 774.0937805175781,
                                   :x2 458.8125190734863,
                                   :y2 793.8937683105469,
                                   :width 719.9999999999999,
                                   :height 1200}
                                  {:x1 82.25625228881836,
                                   :y1 795.6750183105469,
                                   :x2 660.1183128356934,
                                   :y2 815.4750366210938,
                                   :width 719.9999999999999,
                                   :height 1200}
                                  {:x1 102.18750381469727,
                                   :y1 834.7406616210938,
                                   :x2 620.2608680725098,
                                   :y2 853.9406433105469,
                                   :width 719.9999999999999,
                                   :height 1200}
                                  {:x1 102.18750381469727,
                                   :y1 854.6812744140625,
                                   :x2 385.6096992492676,
                                   :y2 873.8812561035156,
                                   :width 719.9999999999999,
                                   :height 1200}),
                          :page 98},
               :content {:text "suppose we have a network in which a fraction p of all individuals are male, and a fraction q of all individuals are female. Consider a given edge in this network. If we independently assign each node the gender male with probability p and the gender female with probability q, then both ends of the edge will be male with probability p2 , and both ends will be female with probability q2 . On the other hand, if the first end of the edge is male and the second end is female, or vice versa, then we have a cross-gender edge, so this happens with probability 2pq. Therefore, the test for homophily according to gender can be summarized as follows: Homophily Test: If the fraction of cross-gender edges is significantly less than2pq, then there is evidence for homophily."},
               :properties {:color "blue"}}],
 :extra {:page 98}}
