{:highlights [{:id #uuid "64673b5d-2df8-4eae-9565-5b2a7cb6250a",
               :page 61,
               :position {:bounding {:x1 261.49688720703125,
                                     :y1 75.47812806069851,
                                     :x2 350.1478271484375,
                                     :y2 92.27813111245632,
                                     :width 616,
                                     :height 1026.6666666666667},
                          :rects ({:x1 261.49688720703125,
                                   :y1 75.47812806069851,
                                   :x2 350.1478271484375,
                                   :y2 92.27813111245632,
                                   :width 616,
                                   :height 1026.6666666666667}),
                          :page 61},
               :content {:text "CHAPTER 3"},
               :properties {:color "yellow"}}
              {:id #uuid "64673c06-91c0-4205-b32c-15fbcc9061dd",
               :page 95,
               :position {:bounding {:x1 261.49688720703125,
                                     :y1 75.4781265258789,
                                     :x2 350.1478271484375,
                                     :y2 92.27812957763672,
                                     :width 616,
                                     :height 1026.6666666666667},
                          :rects ({:x1 261.49688720703125,
                                   :y1 75.4781265258789,
                                   :x2 350.1478271484375,
                                   :y2 92.27812957763672,
                                   :width 616,
                                   :height 1026.6666666666667}),
                          :page 95},
               :content {:text "CHAPTER 4"},
               :properties {:color "yellow"}}
              {:id #uuid "646877dc-bace-4f28-93e9-a1b4bf28afa8",
               :page 98,
               :position {:bounding {:x1 102.18750381469727,
                                     :y1 834.7406616210938,
                                     :x2 207.0787239074707,
                                     :y2 853.9406433105469,
                                     :width 719.9999999999999,
                                     :height 1200},
                          :rects ({:x1 102.18750381469727,
                                   :y1 834.7406616210938,
                                   :x2 207.0787239074707,
                                   :y2 853.9406433105469,
                                   :width 719.9999999999999,
                                   :height 1200}),
                          :page 98},
               :content {:text "Homophily Test"},
               :properties {:color "yellow"}}],
 :extra {:page 105}}
