{:highlights [{:id #uuid "6421e059-3b22-4fe3-8e19-d52dbf92528b",
               :page 34,
               :position {:bounding {:x1 0,
                                     :y1 0,
                                     :x2 720,
                                     :y2 1877.981201171875,
                                     :width 720.0000726060183,
                                     :height 934.3880253852153},
                          :rects ({:x1 0,
                                   :y1 0,
                                   :x2 720,
                                   :y2 0,
                                   :width 720.0000726060183,
                                   :height 934.3880253852153}
                                  {:x1 0,
                                   :y1 943.987548828125,
                                   :x2 720,
                                   :y2 1877.981201171875,
                                   :width 720.0000726060183,
                                   :height 934.3880253852153}),
                          :page 34},
               :content {:text nil},
               :properties {:color "yellow"}}
              {:id #uuid "6422a592-420a-4a82-9462-a10c2c5aa892",
               :page 24,
               :position {:bounding {:x1 0,
                                     :y1 0,
                                     :x2 720,
                                     :y2 1877.9813842773438,
                                     :width 720.0000726060183,
                                     :height 934.3880253852153},
                          :rects ({:x1 0,
                                   :y1 0,
                                   :x2 720,
                                   :y2 0,
                                   :width 720.0000726060183,
                                   :height 934.3880253852153}
                                  {:x1 0,
                                   :y1 943.9876098632812,
                                   :x2 720,
                                   :y2 1877.9813842773438,
                                   :width 720.0000726060183,
                                   :height 934.3880253852153}),
                          :page 24},
               :content {:text nil},
               :properties {:color "yellow"}}
              {:id #uuid "6422a594-9aa9-4ceb-8284-7a52c1620019",
               :page 25,
               :position {:bounding {:x1 0,
                                     :y1 0,
                                     :x2 720,
                                     :y2 1877.9813232421875,
                                     :width 720.0000726060183,
                                     :height 934.3880253852153},
                          :rects ({:x1 0,
                                   :y1 0,
                                   :x2 720,
                                   :y2 0,
                                   :width 720.0000726060183,
                                   :height 934.3880253852153}
                                  {:x1 0,
                                   :y1 943.9874267578125,
                                   :x2 720,
                                   :y2 1877.9813232421875,
                                   :width 720.0000726060183,
                                   :height 934.3880253852153}),
                          :page 25},
               :content {:text nil},
               :properties {:color "yellow"}}
              {:id #uuid "64672a61-bb06-4f44-ab20-1b9f4dc7b83d",
               :page 33,
               :position {:bounding {:x1 308.15625,
                                     :y1 132.421875,
                                     :x2 464.78271484375,
                                     :y2 155.82186889648438,
                                     :width 720.0000726060183,
                                     :height 934.3880253852153},
                          :rects ({:x1 308.15625,
                                   :y1 132.421875,
                                   :x2 464.78271484375,
                                   :y2 155.82186889648438,
                                   :width 720.0000726060183,
                                   :height 934.3880253852153}),
                          :page 33},
               :content {:text "Nay eee (ucie"},
               :properties {:color "yellow"}}],
 :extra {:page 54}}
