{:highlights [{:id #uuid "631caa89-fa57-4e17-8710-2acb39021e26",
               :page 7,
               :position {:bounding {:x1 47,
                                     :y1 23,
                                     :x2 503,
                                     :y2 305,
                                     :width 547,
                                     :height 307.6875},
                          :rects (),
                          :page 7},
               :content {:text "[:span]", :image 1662823047625},
               :properties {:color "green"}}
              {:id #uuid "631cbf27-94d9-41de-8982-94f655e881a4",
               :page 15,
               :position {:bounding {:x1 14,
                                     :y1 8,
                                     :x2 535,
                                     :y2 301,
                                     :width 547,
                                     :height 307.6875},
                          :rects (),
                          :page 15},
               :content {:text "[:span]", :image 1662828326343},
               :properties {:color "red"}}
              {:id #uuid "631cbf3e-8d8c-4b36-97fd-ba5e032b510c",
               :page 16,
               :position {:bounding {:x1 18,
                                     :y1 12.5,
                                     :x2 498,
                                     :y2 292.5,
                                     :width 547,
                                     :height 307.6875},
                          :rects (),
                          :page 16},
               :content {:text "[:span]", :image 1662828348867},
               :properties {:color "red"}}
              {:id #uuid "631cc2cc-823d-4bad-a443-dabd3605eab5",
               :page 26,
               :position {:bounding {:x1 279,
                                     :y1 106.5,
                                     :x2 526,
                                     :y2 261.5,
                                     :width 547,
                                     :height 307.6875},
                          :rects (),
                          :page 26},
               :content {:text "[:span]", :image 1662829258705},
               :properties {:color "red"}}
              {:id #uuid "631cc3ec-71ba-40b5-b8df-2fd1ddbd284c",
               :page 29,
               :position {:bounding {:x1 62,
                                     :y1 85.5,
                                     :x2 496,
                                     :y2 305.5,
                                     :width 547,
                                     :height 307.6875},
                          :rects (),
                          :page 29},
               :content {:text "[:span]", :image 1662829547423},
               :properties {:color "red"}}
              {:id #uuid "6336c4b7-7906-4d4b-a542-6fb15b808400",
               :page 21,
               :position {:bounding {:x1 -0.007802414707839489,
                                     :y1 -2.5,
                                     :x2 597.5,
                                     :y2 290.7144470214844,
                                     :width 597,
                                     :height 335.8125},
                          :rects ({:x1 0,
                                   :y1 -2.5,
                                   :x2 0,
                                   :y2 18.5,
                                   :width 597,
                                   :height 335.8125}
                                  {:x1 0,
                                   :y1 13.5,
                                   :x2 0,
                                   :y2 34.5,
                                   :width 597,
                                   :height 335.8125}
                                  {:x1 0,
                                   :y1 29.5,
                                   :x2 0,
                                   :y2 50.5,
                                   :width 597,
                                   :height 335.8125}
                                  {:x1 277.0215148925781,
                                   :y1 215.25631713867188,
                                   :x2 597.5,
                                   :y2 237.88131713867188,
                                   :width 597,
                                   :height 335.8125}
                                  {:x1 38.9561882019043,
                                   :y1 221.10787963867188,
                                   :x2 373.828125,
                                   :y2 236.60787963867188,
                                   :width 597,
                                   :height 335.8125}
                                  {:x1 -0.0078008160926401615,
                                   :y1 237.89413452148438,
                                   :x2 597.0843505859375,
                                   :y2 255.91757202148438,
                                   :width 597,
                                   :height 335.8125}
                                  {:x1 -0.007802414707839489,
                                   :y1 255.92538452148438,
                                   :x2 597.1077371360734,
                                   :y2 273.9488220214844,
                                   :width 597,
                                   :height 335.8125}
                                  {:x1 38.955718994140625,
                                   :y1 275.2144470214844,
                                   :x2 351.29541015625,
                                   :y2 290.7144470214844,
                                   :width 597,
                                   :height 335.8125}),
                          :page 21},
               :content {:text "It can also be a bad thing. For example \"echo chambers\" and \"groupthink\" are situations where your friends are like you, diversity is killed, and you are only exposed to opinions that reinforce your pre-existing beliefs..."},
               :properties {:color "yellow"}}],
 :extra {:page 2}}
